@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Play:wght@500;700&display=swap');

// Set your brand colors
$tangaroa: #192532;
$iris_blue: #09A2CD;
$teal: #007D81;
$alice: #F5F9FF;
$ochre: #BE861F;
$hunter_green: #305434;
$tosca: #704140;
$grey:   #808080;
$tuna: #484E55;


// Update Bulma's global variables
$family-sans-serif: 'Play', sans-serif;
$grey-dark: $tuna;
$grey-light: $grey;
$primary: $tangaroa;
$info: $iris_blue;
$link: $teal;
$success: $hunter_green;
$warning: $ochre;
$danger: $tosca;
$background: $grey;
$white: $alice;
$black: $tuna;


$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $grey;
$control-border-width: 2px;
$input-border-color: transparent;
$dropdown-background-color: $tuna;
$navbar-background-color: $tuna;
// $input-shadow: none;

.navbar-item {

    &.has-dropdown {
      .navbar-dropdown {
        display: none;
      }
      &.is-active {
        .navbar-dropdown {
          display: block;
        }
       }
     }
  }

  #particles-js canvas{
    position: absolute;
    height: 100vh;
    z-index: 0;
    background-color: $primary;
  }



// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
