@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Play:wght@500;700&display=swap');

// Set your brand colors
$blue_whale: #142139;
$dodger_blue: #0091FF;
$robins_egg_blue: #00C6BE;
$alice: #F5F9FF;
$saffron: #F5BE3B;
$mountain_meadow: #0CB387;
$siren: #722D3C;
$mischka: #A6ABBD;
$storm_grey: #727787;


// Update Bulma's global variables
$family-sans-serif: 'Play', sans-serif;
$grey-dark: $storm_grey;
$grey-light: $mischka;
$primary: $blue_whale;
$info: $dodger_blue;
$link: $robins_egg_blue;
$success: $mountain_meadow;
$warning: $saffron;
$danger: $siren;
$background: $mischka;
$white: $alice;
$black: $storm_grey;


$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $mischka;
$control-border-width: 2px;
$input-border-color: transparent;
$dropdown-background-color: $storm_grey;
$navbar-background-color: $storm_grey;
// $input-shadow: none;

.navbar-item {

    &.has-dropdown {
      .navbar-dropdown {
        display: none;
      }
      &.is-active {
        .navbar-dropdown {
          display: block;
        }
       }
     }
  }



// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
